    <footer>
        <h2>&copy; Digital Passport. All rights reserved.</h2>
        <div id="logo-ad">Logo made by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
    </footer>
</body>
</html>