<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/about.css">
<title>Digital Passport - About</title>

<%- include('./partials/navbar') %>

<div id="about-bg">
    <div id="about">
        <h1>What is Digital Passport?</h1>
        <p>
            Digital passport is a social media platform that connects people
            by letting them share their favorite pictures of the places they
            have travelled to. Travelling should enable people to explore and
            do the things they love, and Digital Passport is the tool that
            everyone can use to inspire others, and even become inspired,
            to go out and travel the world.
        </p>

        <h1>Features</h1>
        <p>
            With Digital Passport, you can post pitures from your recent trip
            and share what you did with other people. You may also use the 
            interactive map to select any location in the world and see 
            other user's pictures from the selected location. You can 
            join the conversation by viewing the comments on a post 
            and even adding your own comments. Lastly, if you really like
            someone else's image, you can add it to your collection, where it
            is saved so you can go back to it at another time.
        </p>

        <h1>Questions?</h1>
        <p>
            Feel free to contact us via email at questions@phoenixfoundation.com.
        </p>

        <h1>Ready to get started?</h1>
        <p>Click <a href="/map">here</a> to start exploring.</p>
    </div>
</div>

<%- include('./partials/footer') %>