<%- include('./partials/header') %>

<%- include('./partials/mapLinks') %>

<link rel="stylesheet" href="/stylesheets/addPost.css">
<title>Digital Passport - Add Post</title>

<%- include('./partials/navbar') %>

<form id="addPostForm" method="POST" enctype="multipart/form-data">
    <label for="pic">Upload an image</label>
    <div id="file-upload">
        <input type="file" accept=".png, .jpeg, .jpg" name="pic" id="img-input" required>
        <img src="" id="img-preview" class="post-img">
    </div>
    <br>
    <label for="caption">Add a caption</label>
    <textarea name="caption" rows="8" cols="50" required placeholder="Describe your experience..."></textarea>
    <br>
    <label for="map">Mark the location of the picture</label>
    <div id="map" style="width: 30rem; height: 30rem;"></div>
    <br>
    <div id="location-selection">
        <h3><span class="info">City</span><span class="info">State</span><span class="info">Country</span></h3>
        <input type="hidden" name="city" class="location-form-data" required>
        <input type="hidden" name="state" class="location-form-data">
        <input type="hidden" name="country" class="location-form-data" required>
        <input type="hidden" name="lat" id="post-lat" required>
        <input type="hidden" name="lng" id="post-lng" required>
        <input type="Submit" value="Post">
    </div>
</form>

<script src="/js/map.js"></script>
<script src="/js/previewImg.js"></script>

<%- include('./partials/footer') %>