<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/error404.css">
<title>Digital Passport - 404 Error</title>

<%- include('./partials/navbar') %>

<div id="error-bg">
   <div id="error-area">
       <div id="error">
            <h2>Oops... Something went wrong!</h2>
            <p>There was an error loading a requested resource.</p>
        </div>
   </div>
</div>

<%- include('./partials/footer') %>