<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/index.css">
<title>Digital Passport</title>

<%- include('./partials/navbar') %>

<div id="landing-main">
    <h2 class="landing-center-text">Connecting the world one picture at a time.</h2>
    <h2 class="landing-center-text" id="down-arrow">&caron;</h2>
</div>

<div id="sample-pictures">
    <h2>See what others are doing around the world.</h2>
    <div id="img-carousel">
        <div class="arrow">
            <img src="/res/landing-carousel/arrow.png" id='reverse' class='img-btn'>
        </div>
        <div id="img-carousel-images">
            <img class="sample-side" src="/res/landing-carousel/carousel1.jpg" alt="sample-post">
            <img id="sample-main" src="/res/landing-carousel/carousel2.jpg" alt="sample post">
            <img class="sample-side" src="/res/landing-carousel/carousel3.jpg" alt="sample-post">
        </div>
        <div class="arrow">
            <img src="/res/landing-carousel/arrow.png" class='img-btn'>
        </div>
    </div>
</div>

<div id="landing-search">
    <div id="landing-search-area">
        <h2>Where will you explore?</h2>
        <a href="/map" id="start-btn">Get started</a>
    </div>
</div>

<script src="/js/carousel.js"></script>

<%- include('./partials/footer') %>