<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/login.css">
<title>Digital Passport - Log In</title>

<%- include('./partials/navbar') %>

<div id="login-signup-area">
    <div id="login">
        <div class="login-page-cover">
            <h2>Log In</h2>
            <form id="login-form" method="POST" action="/login">
                <div class="login-row">
                    <label for="login[username]">Username</label>
                    <input class="uname" type="text" name="login[username]" required>
                </div>
                <div class="login-row">
                    <label for="login[password]">Password</label>
                    <input class="pwd" type="password" name="login[password]" required>
                </div>
                <% if (account.id === -1 && account.error === 'login') { %>
                    <div class="form-error">
                        <h3>Username or password is incorrect</h3>
                    </div>
                <% } %>
                <div class="submit-btn login-row">
                    <input type="submit" value="Start Exploring">
                </div>
            </form>
        </div>
    </div>

    <div id="signup">
        <div class="login-page-cover">
            <h2>Sign Up</h2>
            <form id="signup-form" method="POST" action='/signup'>
                <div class="login-row">
                    <label for="signup[username]">Username</label>
                    <input class="uname" type="text" name="signup[username]" required>
                </div>
                <div class="login-row">
                    <label for="signup[password]">Password</label>
                    <input class="pwd" type="password" name="signup[password]" required>
                </div>
                <% if (account.id === -1 && account.error === 'signup') { %>
                    <div class="form-error">
                        <h3>Username already exists</h3>
                    </div>
                <% } %>
                <div class="submit-btn login-row">
                    <input type="submit" value="Create Your Passport">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>