<%- include('./partials/header') %>

<%- include('./partials/mapLinks') %>

<link rel="stylesheet" href="/stylesheets/map.css">
<title>Digital Passport - Map</title>

<%- include('./partials/navbar') %>

<div id="selection-area">
    <h1 id="directions">Navigate the map and click on the place where you want to go.</h1>
    <form id="location-selection" action="/map" method="POST">
        <h2>
            <span class="info">City, </span><span class="info">State, </span><span class="info">Country</span>
        </h2>
        <input class="location-form-data" type="hidden" name="city" value="">
        <input class="location-form-data" type="hidden" name="state" value="">
        <input class="location-form-data" type="hidden" name="country" value="">
        <input type="submit" value="Explore">
    </form>
</div>

<div id="map"></div>

<script src="/js/map.js"></script>

<%- include('./partials/footer') %>