<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/posts.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div id="logo-space">

        </div>
        <div id="company">
            <h1>Digital Passport</h1>
        </div>
        <div id="links">
            <a href="/map"><h3>Map</h3></a>
            <a href="/collection"><h3>Collection</h3></a>
            <a href="/login"><h3>Log In</h3></a>
        </div>
    </nav>

    <div class="post">
        <div class="post-header">
            <h3 class="post-title">Test Title is a very good test name</h3>
            <h4 class="post-user">TestUser182384317</h6>
            <h5 class="post-timestamp">12:00 AM September 31st, 2021</h4>
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
        </div>
        <div class="post-function">
            
        </div>
    </div>
</body>

</html>