<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/posts.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div id="logo-space">

        </div>
        <div id="company">
            <h1>Digital Passport</h1>
        </div>
        <div id="links">
            <a href="/map"><h3>Map</h3></a>
            <a href="/collection"><h3>Collection</h3></a>
            <a href="/login"><h3>Log In</h3></a>
        </div>
    </nav>

    <div class="post">
        <div class="post-header">
            <h3 class="post-title">Test Title is a very good test name</h3>
            <h4 class="post-user">TestUser182384317</h6>
            <h5 class="post-timestamp">12:00 AM September 31st, 2021</h4>
        </div>
        <div class="post-inner">
            <div class="post-coverimg">
                <img src="https://wallpaperaccess.com/full/284466.jpg" alt="">
                <button class="expand"><h1>Expand <br> v</h1></button>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet, tortor a feugiat commodo, enim nibh cursus velit, sed laoreet sapien mi eget justo. Ut cursus mi nec ante sagittis tristique. Donec congue nulla quis vestibulum ullamcorper. Fusce et nulla varius lectus facilisis iaculis. Sed at volutpat sapien, eu ornare metus. Donec maximus turpis sed tristique eleifend. Quisque efficitur urna id maximus elementum. Proin commodo dignissim libero et viverra. Praesent ac velit mauris. Duis eget feugiat massa. In sagittis risus urna, vitae vulputate velit ornare vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet, tortor a feugiat commodo, enim nibh cursus velit, sed laoreet sapien mi eget justo. Ut cursus mi nec ante sagittis tristique. Donec congue nulla quis vestibulum ullamcorper. Fusce et nulla varius lectus facilisis iaculis. Sed at volutpat sapien, eu ornare metus. Donec maximus turpis sed tristique eleifend. Quisque efficitur urna id maximus elementum. Proin commodo dignissim libero et viverra. Praesent ac velit mauris. Duis eget feugiat massa. In sagittis risus urna, vitae vulputate velit ornare vel. <br>
                    Nullam sed erat sed augue tincidunt lacinia nec sed dolor. Proin et molestie libero, non scelerisque tortor. Integer finibus dolor a augue vestibulum, sed porta erat pulvinar. Nullam nec interdum massa. Fusce vel facilisis lectus. Aliquam ut risus nunc. Etiam a lectus eget nulla faucibus aliquet. Donec fringilla enim iaculis felis ornare sollicitudin. Suspendisse at odio mollis, tristique arcu non, efficitur ipsum. Sed hendrerit lacinia pharetra. Nunc vestibulum, nisl a pharetra aliquam, diam dolor lacinia purus, sed placerat odio elit vestibulum lacus. Maecenas eget tincidunt leo. <br>
                    Cras pulvinar orci massa, et vestibulum mi volutpat in. Etiam quam libero, molestie sit amet libero eget, rhoncus pulvinar quam. Morbi vestibulum fermentum condimentum. Nunc nec nisl viverra, interdum turpis at, dignissim ipsum. In laoreet ipsum mauris, non sagittis elit viverra sed. Mauris dapibus dignissim feugiat. Suspendisse lacinia magna orci, quis hendrerit est tempus id. Nulla euismod, lorem in aliquet ornare, sapien quam finibus odio, finibus commodo massa risus sed enim. Duis mattis felis volutpat nibh fringilla dignissim. Donec vulputate egestas consequat. Morbi sit amet gravida leo, nec sagittis eros. Nullam rhoncus in massa a aliquam. Aenean a viverra erat, ac tincidunt ipsum. Nullam aliquam odio vel lorem finibus convallis. Maecenas dapibus placerat viverra. Nam tortor leo, malesuada non feugiat vel, tristique non ex.</p>
            </div>
        </div>
        <!-- <div class="post-function">
            <button class="btn">Edit</button>
        </div> -->
        
    </div>
    <div class="reply">
        <div class="textbox">
            <form action="js/reply.js">
                <textarea name="replyField" id="replyField" cols="100" rows="10"></textarea>
                <input type="submit" name="reply" id="replyBtn" value="Reply">
            </form>
        </div>
    </div>
</body>

</html>