@import './global.scss';

#subtitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5%;
    margin-bottom: 0;
}

#no-posts {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;

    a {
        color: $primary-text;
    }

    a:visited {
        color: $primary-text;
    }

    a:hover {
        color: $secondary-text;
    }
}