$primary-text: #2196F3;
$secondary-text: #FF9800;
$sub-blue: #80d8ff;
$sub-orange: #ffd180;
$bg-color: #fafafa;
$nav-color: #eeeeee;

body {
    background-color: $bg-color;
    font-family:'Libre Baskerville', Arial, Helvetica, sans-serif;
    color: $primary-text;
    margin-left: 2%;
    margin-right: 2%;
    overflow-y: scroll;
}

nav, footer {
    background-color: $nav-color;
    font-weight: bold;
    margin-top: 1%;
    display: flex;
    height: 10%;
}

#index-link {
    display: flex;
    align-items: center;
    width: 50%;
    text-decoration: none;
}

#index-link:visited {
    color: $primary-text;
}

#index-link:hover {
    color: $secondary-text;
}

#logo-space {
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 75%;
        height: auto;
    }
}

#company {
    width: 80%;

    h1 {
        text-align: left;
        font-size: 3.0rem;
        padding-left: 3%;
    }
}

#links {
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        text-decoration: none;
        color: $primary-text;
        font-size: 2.0rem;
    }

    a:hover {
        color: $secondary-text;
    }
}

footer {
    margin-top: 2.5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    h2 {
        text-align: center;
        font-size: 1.75rem;
    }
}

#logo-ad {
    font-size: 1.25rem;
}