body {
  background-color: #fafafa;
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
  color: #2196F3;
  margin-left: 2%;
  margin-right: 2%;
  overflow-y: scroll;
}

nav, footer {
  background-color: #eeeeee;
  font-weight: bold;
  margin-top: 1%;
  display: flex;
  height: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#index-link {
  display: flex;
  align-items: center;
  width: 50%;
  text-decoration: none;
}

#index-link:visited {
  color: #2196F3;
}

#index-link:hover {
  color: #FF9800;
}

#logo-space {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#logo-space img {
  width: 75%;
  height: auto;
}

#company {
  width: 80%;
}
#company h1 {
  text-align: left;
  font-size: 3rem;
  padding-left: 3%;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#links a {
  text-decoration: none;
  color: #2196F3;
  font-size: 1.75rem;
}
#links a:hover {
  color: #FF9800;
}

footer {
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer h2 {
  text-align: center;
  font-size: 1.75rem;
}

#logo-ad {
  font-size: 1.25rem;
}

#landing-main, #sample-pictures, #landing-search {
  margin-top: 2%;
  margin-bottom: 0;
}

#landing-main {
  background-image: url("../res/landing-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  border-radius: 1.5rem;
}

.landing-center-text {
  font-size: 2rem;
  color: #FF9800;
  text-align: center;
  padding-top: 1rem;
}

#down-arrow {
  margin-top: 0;
  padding-top: 0;
  font-size: 10rem;
  line-height: 100%;
}

#sample-pictures {
  background-color: #eeeeee;
  text-align: center;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
}
#sample-pictures h2 {
  font-size: 2rem;
  padding-top: 1rem;
  cursor: pointer;
}

#img-carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrow {
  width: 10%;
  display: block;
}
.arrow img {
  float: left;
}

.img-btn {
  width: 25%;
  cursor: pointer;
}

#reverse {
  transform: scale(-1, 1);
  float: right;
}

#img-carousel-images {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#img-carousel-images img {
  border-radius: 1.5rem;
}

#sample-main {
  width: 20%;
  height: 16rem;
}

.sample-side {
  width: 15%;
  height: 12rem;
}

#landing-search {
  background-image: url("../res/landing-search-img.jpg");
  background-size: cover;
  height: 500px;
  border-radius: 1.5rem;
}

#landing-search-area {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#landing-search-area h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  color: #FF9800;
  text-shadow: 2px 2px 2px #583a00;
}

#start-btn, #start-btn:visited {
  font-size: 3rem;
  padding: 1rem;
  border: 3px solid #fafafa;
  text-decoration: none;
  color: #2196F3;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.7);
}

#start-btn:hover {
  color: #FF9800;
}

#start-btn:active {
  background-color: #fafafa;
}

/*# sourceMappingURL=index.css.map */
