@import './global.scss';

#landing-main, #sample-pictures, #landing-search {
    margin-top: 2%;
    margin-bottom: 0;
}

#landing-main {
    background-image: url('../res/landing-img.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
    border-radius: 1.5rem;
}

.landing-center-text{
    font-size: 2.0rem;
    color: $secondary-text;
    text-align: center;
    padding-top: 1.0rem;
}

#down-arrow {
    margin-top: 0;
    padding-top: 0;
    font-size: 10rem;
    line-height: 100%;
}

#sample-pictures {
    background-color: $nav-color;
    text-align: center;
    border-radius: 1.5rem;
    padding-bottom: 1.0rem;

    h2 {
        font-size: 2.0rem;
        padding-top: 1.0rem;
        cursor: pointer;
    }
}

#img-carousel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.arrow {
    width: 10%;
    display: block;

    img {
        float: left;
    }
}

.img-btn {
    width: 25%;
    cursor: pointer;
}

#reverse {
    transform: scale(-1, 1);
    float: right;
}

#img-carousel-images {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        border-radius: 1.5rem;
    }
}

#sample-main {
    width: 20%;
    height: 16rem;
}


.sample-side {
    width: 15%;
    height: 12rem;
}

#landing-search {
    background-image: url('../res/landing-search-img.jpg');
    background-size: cover;
    height: 500px;
    border-radius: 1.5rem;
}

#landing-search-area {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 2.0rem;
        padding-top: 3.0rem;
        color: $secondary-text;
        text-shadow: 2px 2px 2px rgb(88, 58, 0);
    }
}

#start-btn, #start-btn:visited {
    font-size: 3.0rem;
    padding: 1rem;
    border: 3px solid $bg-color;
    text-decoration: none;
    color: $primary-text;
    text-align: center;
    background-color: rgba($bg-color, 0.7);
}

#start-btn:hover {
    color: $secondary-text;
}

#start-btn:active {
    background-color: $bg-color;
}