body {
  background-color: #fafafa;
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
  color: #2196F3;
  margin-left: 2%;
  margin-right: 2%;
  overflow-y: scroll;
}

nav, footer {
  background-color: #eeeeee;
  font-weight: bold;
  margin-top: 1%;
  display: flex;
  height: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#index-link {
  display: flex;
  align-items: center;
  width: 50%;
  text-decoration: none;
}

#index-link:visited {
  color: #2196F3;
}

#index-link:hover {
  color: #FF9800;
}

#logo-space {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#logo-space img {
  width: 75%;
  height: auto;
}

#company {
  width: 80%;
}
#company h1 {
  text-align: left;
  font-size: 2.5rem;
  padding-left: 3%;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#links a {
  text-decoration: none;
  color: #2196F3;
  font-size: 1.5rem;
}
#links a:hover {
  color: #FF9800;
}

footer {
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer h2 {
  text-align: center;
  font-size: 1.75rem;
}

#logo-ad {
  font-size: 1.25rem;
}

.post {
  width: 30%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  margin-top: 1.5%;
  box-shadow: 5px 5px 2.5px #a8a8a8;
  height: 28rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}
.post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.post:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.post-img {
  box-shadow: 5px 5px 2.5px #a8a8a8;
  width: 100%;
  height: 28rem;
  border-radius: 1.5rem;
}

#posts-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#map {
  height: 30rem;
  margin-top: 2.5%;
}

#selection-area {
  background-color: #eeeeee;
}

#directions {
  text-align: center;
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0;
}

#location-selection {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#search h2 {
  font-size: 2rem;
  color: #FF9800;
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}
#search input {
  font-size: 2rem;
}
#search input[type=submit] {
  width: auto;
  border-radius: 5%;
  background-color: #fafafa;
  color: #2196F3;
  height: auto;
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}
#search input[type=submit]:active {
  color: #FF9800;
}

#search-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 1%;
}
#search-filter .search-filter-btn {
  background-color: #fafafa;
  border: 1px solid #FF9800;
  margin: 0;
  color: #2196F3;
  font-size: 1.5rem;
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
  cursor: pointer;
}
#search-filter .active {
  background-color: #ffd180;
}

#popular-locations {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#popular-locations h3 {
  font-size: 1.5rem;
}
#popular-locations p {
  font-size: 1.25rem;
  text-decoration: underline;
}
#popular-locations p:hover {
  color: #FF9800;
  cursor: pointer;
}

/*# sourceMappingURL=map.css.map */
