@import './global.scss';

#map {
    height: 30rem;
    margin-top: 2.5%;
}

#selection-area {
    background-color: $nav-color;
}

#directions {
    text-align: center;
    font-size: 2rem;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;
}

#location-selection {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        font-size: 2rem;
        color: $secondary-text;
        font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    }

    input {
        font-size: 2rem;
    }

    input[type="submit"] {
        width: auto;
        border-radius: 5%;
        background-color: $bg-color;
        color: $primary-text;
        height: auto;
        font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    }

    input[type="submit"]:active {
        color: $secondary-text;
    }
}