@import './global.scss';

.post {
    font-family: 'Nunito';
    background-color: $nav-color;
    border-radius: 1.5rem;
    // height: 500px;
    display: flex;
    flex-direction: column;
    margin: 1% 2.5%;
    border-bottom: 2px solid #bdbdbd;
}

.post-flex {
    display: flex;
    flex-direction: row;
    padding: 0%;
}

.post-header {
    margin-left: 2.5%;
    margin-right: 0.5%;
    width: 60%;
    min-width: 12.5%;
    max-width: 12.5%;
}

.post-user {
    display: inline-block;
    margin: 5% 0%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 0.25rem;
    background-color: #dfdfdf;
    word-break: break-word;
}

.post-user:hover {
    color: $secondary-text;
    text-decoration: underline;
    background-color: $nav-color;
}

.post-timestamp {
    color: gray;
    margin: 0;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 5%;
}

.post-inner {
    display: inline-block;
    position: relative;
    background-color: #dfdfdf;
    border-radius: 0.5rem;
    margin: 1.5% 1.5% 0%;
    padding: 0 1%;
    max-width: 77.5%;
    min-width: 77.5%;
    height: fit-content;
    img {
        margin: 1%;
    }
}

.post-coverimg {
    position: relative;
    padding-right: 2%;
    margin-top: 1%;
    max-height: 200px;
    margin-bottom: 0%;
    overflow: hidden;
    img {
        width: 100%;
    }
    .expand {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #FFF;
        h1 {
            padding-top: 5%;
            text-align: center;
        }
    }
}

.post-coverimg:hover {
    .expand {
        display: block;
        background: rgba(0, 0, 0, .6);
    }
}

.post-function {
    margin: auto;
    min-width: fit-content;
    display: flex;
    div {
        padding: 0 2%;
    }
}

.btn {
    background-color: #dfdfdf;
    padding: 1rem;
    border: none;
    margin: 2.5% 5%;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: #c5c5c5;
}

#redBtn {
    background-color: rgb(219, 77, 77);
    color: white;
}

#redBtn:hover {
    background-color: rgb(219, 0, 0);
}

.reply {
    background-color: $nav-color;
    border-radius: 1.5rem;
    margin: 1% 2.5%;
    padding: 1% 2%;
    border-bottom: 2px solid #bdbdbd;
    display: none;

    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#reply-form {
    width: 60%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    label {
        font-size: 1.75rem;
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
    }

    textarea {
        font-size: 1.25rem;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }

    input[type="submit"] {
        color: $primary-text;
        font-size: 1.5rem;
        font-family: Helvetica, Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $primary-text;
    }

    input[type="submit"]:hover {
        cursor: pointer;
        color: $secondary-text;
        border-color: $secondary-text;
    }
}

#comments-area {
    width: 100%;
    margin: 2.5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.comment {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: $bg-color;
    border-radius: 5px;

    p {
        font-size: 1.25rem;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 0.25rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

#comment-user {
    text-align: right;
}
