@import './global.scss';

#posts-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.post-link {
    width: 30%;
    height: 25rem;
    margin-top: 1.5%;
    border-radius: 5%;
    object-fit: cover;
}

#overlap-post-area {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: space-evenly;
    margin-top: 1%;
    border-radius: 2.5%;
    position: absolute;
}

#overlap-post {
    width: 50%;
    background-color: $bg-color;
    margin-top: 2.5%;
    border-radius: 2.5%;
    display: flex;
}

#post-img {
    width: 70%; 
    height: 29rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    border-radius: 5%;
}

#post-desc {
    h3, h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    a {
       color: $primary-text;
    }

    a:hover {
        color: $secondary-text;
    }
}