body {
  background-color: #FAFAFA;
  font-family: "Tangerine", cursive;
  color: #2196F3;
  margin-left: 2%;
  margin-right: 2%;
  overflow-y: scroll;
}

nav, footer {
  background-color: #eeeeee;
  margin-top: 1%;
  display: flex;
  height: 10%;
}

#index-link {
  display: flex;
  align-items: center;
  width: 50%;
  text-decoration: none;
}

#index-link:visited {
  color: #2196F3;
}

#index-link:hover {
  color: #FF9800;
}

#logo-space {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#logo-space img {
  width: 75%;
  height: auto;
}

#company {
  width: 80%;
}
#company h1 {
  text-align: left;
  font-size: 3rem;
  padding-left: 3%;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#links a {
  text-decoration: none;
  color: #2196F3;
  font-size: 2rem;
}
#links a:hover {
  color: #FF9800;
}

footer {
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer h2 {
  text-align: center;
  font-size: 1.75rem;
}

#logo-ad {
  font-size: 1.25rem;
}

.post {
  font-family: "Nunito";
  background-color: #eeeeee;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 1% 2.5%;
  border-bottom: 2px solid #bdbdbd;
}

.post-flex {
  display: flex;
  flex-direction: row;
  padding: 0%;
}

.post-header {
  margin-left: 2.5%;
  margin-right: 0.5%;
  width: 25%;
}

.post-user {
  display: inline-block;
  color: #2196F3;
  margin-top: 10%;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
}
.post-user span {
  background-color: #dfdfdf;
  padding: 10%;
}

.post-user:hover {
  color: #FF9800;
  text-decoration: underline;
  background-color: #eeeeee;
}

.location-text {
  font-size: 1.5rem;
  line-height: 0.25rem;
}

.post-timestamp {
  color: gray;
  margin: 0;
  font-size: 1.25rem;
}

.post-inner {
  display: inline-block;
  position: relative;
  background-color: #dfdfdf;
  border-radius: 0.5rem;
  margin: 1.5% 1.5% 0%;
  padding: 0 1%;
  width: 75%;
}
.post-inner img {
  margin: 1%;
}

.post-coverimg {
  position: relative;
  padding-right: 2%;
  margin-top: 1%;
  max-height: 200px;
  overflow: hidden;
}
.post-coverimg img {
  width: 100%;
}
.post-coverimg .expand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.post-coverimg .expand h1 {
  padding-top: 5%;
  text-align: center;
}

.post-coverimg:hover .expand {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

#post-caption {
  font-size: 1.25rem;
  text-align: justify;
}

.post-function {
  margin: auto;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.post-function div {
  padding: 0 2%;
}

.btn {
  background-color: #dfdfdf;
  padding: 1rem;
  border: none;
  margin: 2.5% 5%;
  color: gray;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #c5c5c5;
}

#redBtn {
  background-color: #db4d4d;
  color: white;
}

#redBtn:hover {
  background-color: #db0000;
}

.reply {
  background-color: #eeeeee;
  border-radius: 1.5rem;
  margin: 1% 2.5%;
  padding: 1% 2%;
  border-bottom: 2px solid #bdbdbd;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#reply-form {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#reply-form label {
  font-size: 1.75rem;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
#reply-form textarea {
  font-size: 1.25rem;
  resize: none;
}
#reply-form textarea:focus {
  outline: none;
}
#reply-form input[type=submit] {
  color: #2196F3;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2196F3;
}
#reply-form input[type=submit]:hover {
  cursor: pointer;
  color: #FF9800;
  border-color: #FF9800;
}

#comments-area {
  width: 100%;
  margin: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.comment {
  width: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #FAFAFA;
  border-radius: 5px;
}
.comment p {
  font-size: 1.25rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 0.25rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#comment-user {
  text-align: right;
}

#no-comments-text {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 0rem;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=posts.css.map */
