@import './global.scss';

.post {
    font-family: 'Nunito';
    background-color: $nav-color;
    border-radius: 1.5rem;
    // height: 500px;
    display: flex;
    margin: 1% 2.5%;
    border-bottom: 2px solid #bdbdbd;
}

.post-header {
    margin-left: 2.5%;
    margin-right: 0.5%;
    width: 60%;
    min-width: 12.5%;
    max-width: 12.5%;
}

.post-user {
    display: inline-block;
    margin: 5% 0%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 0.25rem;
    background-color: #dfdfdf;
    word-break: break-word;
}

.post-user:hover {
    color: $secondary-text;
    text-decoration: underline;
    background-color: $nav-color;
}

.post-timestamp {
    color: gray;
    margin: 0;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 5%;
}

.post-inner {
    display: inline-block;
    background-color: #dfdfdf;
    border-radius: 0.5rem;
    margin: 1.5%;
    padding: 0 1%;
    max-width: 77.5%;
    min-width: 77.5%;
    img {
        margin: 1%;
    }
}

.post-coverimg {
    position: relative;
    padding-right: 2%;
    margin-top: 1%;
    max-height: 20%;
    margin-bottom: 0%;
    overflow: hidden;
    img {
        width: 100%;
    }
    .expand {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #FFF;
        h1 {
            padding-top: 5%;
            text-align: center;
        }
    }
}

.post-coverimg:hover {
    .expand {
        display: block;
        background: rgba(0, 0, 0, .6);
    }
}

// .expand {
//     margin: 0%;
//     height: 100%;
//     width: 100%;
//     border-width: 0%;
//     opacity: 0.5;
// }

.post-function {
    display: flex;
}

.btn {
    background-color: #dfdfdf; /* Green */
    border: none;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: #d7d7d7;
}

.reply {
    background-color: $nav-color;
    border-radius: 1.5rem;
    margin: 1% 2.5%;
    padding: 1% 2%;
    border-bottom: 2px solid #bdbdbd;
}

#replyField {
    max-width: 100%;
}
